<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@Wiki.Ressource.RessourceView.vHC_erreur_erruer</title>
</head>
<body>
    <hgroup>
        <h1>@Wiki.Ressource.RessourceView.vHC_erreur_erruer</h1>
        <h2>@Wiki.Ressource.RessourceView.vHC_erreur_phrase .</h2>
    </hgroup>
</body>
</html>
